ol {
  list-style: square;
}

li {
   margin: 5px 0;
}

input[type='text'],
input[type='email'],
input[type='number'] {
  width: 240px;
  height: 25px;
  margin: 0 auto;
}

input[type='text']:hover,
input[type='email']:hover,
input[type='number']:hover {
  box-shadow: 0 0 5px blue;
  -webkit-box-shadow: 0 0 10px blue;
}

form {
  width: 800px;
}

form table {
  width: 100%;
}

tr {
  width: 50%;
}