<!DOCTYPE html>
<html ng-app="demoApp" ng-controller="formDemo">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/base.css">
    <script src="../lib/angular/angular.js" charset="utf-8"></script>
    <script src="../js/demo.js" charset="utf-8"></script>
    <title>{{demoTitle}}</title>
  </head>
  <body>
    <div class="warpper">
      <h1>This is a demo of AngularJS's from</h1>
      <form name="form">
        <table>
          <tr>
            <td>
              <input type="text" ng-model="user.name" placeholder="请输入你的姓名" required/>{{user.name}}<br>

            </td>
            <td><input type="number" step="1" ng-model="user.age" placeholder="请输入你的年龄" required/>{{user.age|number}}</td>
          </tr>
          <tr>
            <td>
              <input type="email" name="uEmail" ng-model="user.email" placeholder="请输入你的邮箱" required/>{{user.email}}<br>
              <div ng-show="form.uEmail.$dirty && form.uEmail.$invalid">Invalid:
                <span ng-show="form.uEmail.$error.required">请输入邮箱</span>
                <span ng-show="form.uEmail.$error.email">请确保邮箱地址正确</span>
              </div>
            </td>
            <td><input type="text" maxlength="15" ng-model="user.tel" placeholder="请输入你的电话" required/>{{user.tel}}</td>
          </tr>
        </table>
        <span>当前表单被编辑（修改）&nbsp;{{count}}&nbsp;次</span>
        <input ng-disabled="form.$invalid" type="button" value="Reset" ng-click="updated=false;user={};count=-1;" />
        <input ng-disabled="form.$invalid" type="submit" value="Submit" ng-click="save(user)" />
      </form>
      <pre>{{user|json}}</pre>
      <div ng-show="updated">
        <per>{{user|json}}</per>
      </div>
    </div>
  </body>
</html>